* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: 1px solid rgb(216, 213, 213);
    box-shadow: 0px 0px 10px 2px rgba(148, 147, 147, 0.5);
    border-radius: 15px;
}

#container img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

#container #title {
    padding: 10px;
    border-bottom: 1px solid rgb(216, 213, 213);
    box-shadow: 0px 0px 10px 2px rgba(148, 147, 147, 0.5);
}

#main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main h1 {
    font-size: 40px;
}

#scoreboard {
    font-size: 40px;
}

#selector {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

#selector p {
    margin-right: 5px;
}

#select {
    border-radius: 15px;
    padding: 3px;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#buttons button {
    width: 33.2%;
    border: none;
    padding: 10px 0;
    color: white;
    border-radius: 3px;
    font-size: 15px;
}

#buttons button:nth-child(1) {
    background-color: #3B9D5C;
}

#buttons button:nth-child(2) {
    background-color: #3B7B9D;
}

#buttons button:nth-child(3) {
    background-color: #9D3B4B;
}

.green {
    color: green;
}

.red {
    color: rgb(189, 8, 8);
}